/* src/app/entry/entry.component.css */
.container {
  margin-top: 20px;
}

.card {
  padding: 10px;
}

.ml-2 {
  margin-left: 1rem !important;
}

/* Materialize datepicker overrides for Angular two-way binding */
.input-field input[type=text].datepicker:focus + label {
  color: #2196F3 !important;
}
.input-field input[type=text].datepicker:focus {
  border-bottom: 1px solid #2196F3 !important;
  box-shadow: 0 1px 0 0 #2196F3 !important;
}
.input-field label.active {
  top: -14px !important;
  font-size: 0.8rem !important;
  color: #2196F3 !important;
}