<!-- Botón para dispositivos móviles -->
<a href="#" data-target="side-nav" class="sidenav-trigger show-on-medium-and-down">
  <i class="material-icons">menu</i>
</a>

<!-- Menú lateral -->
<ul id="side-nav" class="sidenav sidenav-fixed">
  <li class="logo center-align" style="padding: 20px 0;">
    <img src="assets/logo.jpg" alt="Logo" class="responsive-img" style="max-height: 200px;">
  </li>

  <li><a href="/admon" class="waves-effect"><i class="material-icons">contacts</i>Administrador</a></li>
  <li><a href="/inventory" class="waves-effect"><i class="material-icons">contacts</i>Inventario</a></li>
  <li><a href="/entry" class="waves-effect"><i class="material-icons">contacts</i>Entrada</a></li>
  <li><a href="/exit" class="waves-effect"><i class="material-icons">contacts</i>Salida</a></li>
  <li><a href="/report" class="waves-effect"><i class="material-icons">contacts</i>Reportes</a></li>
  <li><a href="/supplier" class="waves-effect"><i class="material-icons">contacts</i>Proveedores</a></li>
  <li><a href="/category" class="waves-effect"><i class="material-icons">contacts</i>Categorías</a></li>
  <li><a href="/role" class="waves-effect"><i class="material-icons">contacts</i>Roles</a></li>
  <li><a href="/logsalert" class="waves-effect"><i class="material-icons">contacts</i>Logs de Alertas</a></li>
  <li><a href="/donor" class="waves-effect"><i class="material-icons">contacts</i>Donantes</a></li>
  <li><a href="/beneficiary" class="waves-effect"><i class="material-icons">contacts</i>Beneficiarios</a></li>
  <li><a href="/email" class="waves-effect"><i class="material-icons">contacts</i>Emails</a></li>
  <li><a href="/exitlist" class="waves-effect"><i class="material-icons">contacts</i>Lista de Salidas</a></li>
  <li><a (click)="logout()" class="waves-effect"><i class="material-icons">build</i>Cerrar Sesión</a></li>
</ul>

<router-outlet></router-outlet>